{% extends 'base.html.twig' %}

{% block mainContent %}
    <h1>Modifier un objet</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a href="{{ path('user_connected_object_index') }}" class="btn btn-success">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Retour
    </a>
    <input class="btn btn-success" type="submit" value="Modifier"/>
    {{ form_end(form) }}

{% endblock %}
