#phpstorm
.idea

#netbeans
build
nbproject

#symfony2
/app/config/parameters.yml
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
#/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/